:root {
    --FITYELLOW: #eec643;
    --FITBLACK: #1c1c1c;
    --FITGREEN: #4cb944;
    --FITWHITE: #fafaff;
    --FITRED: #de541e;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .workoutForm {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .workoutBtns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .workoutBtn {
    font-weight: bold;
    margin: 5px;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--FITGREEN);
    color: var(--FITBLACK);
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .workoutBtn:hover {
    background-color: var(--FITRED);
  }
  
  .workoutBtn:active {
    background-color: var(--FITGREEN);
  }
  