:root {
    --FITYELLOW: #eec643;
    --FITBLACK: #1c1c1c;
    --FITGREEN: #4cb944;
    --FITWHITE: #fafaff;
    --FITRED: #de541e;
}

.userPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--FITWHITE);
    margin: 10% 35% 10% 35%;
    border-radius: 10px;
    border: 1px solid var(--FITGREEN);
}

.userPost h3{
    background: var(--FITGREEN);
    color: var(--FITYELLOW);
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.userPost h3 span{
    background: var(--FITGREEN);
    color: var(--FITWHITE);
}

.userPost div {
    margin-top: 30px;
    margin-bottom: 30px;
}