:root {
    --FITYELLOW: #eec643;
    --FITBLACK: #1c1c1c;
    --FITGREEN: #4cb944;
    --FITWHITE: #fafaff;
    --FITRED: #de541e;
}

.postForm {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .postForm h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #4cb944;
  }
  
  .characterCount {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #666;
  }
  
  .characterCount.text-error {
    color: #de541e;
  }
  
  form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  form .form-group {
    margin-bottom: 1rem;
  }
  
  form .btn {
    padding: 10px 20px;
    background-color: #4cb944;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .error-message {
    color: #de541e;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }