.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #4cb944;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .date {
    font-size: 24px;
    color: #eec643;
  }
