/* UNCOMMENT FOR TESTING */

/* * {
  outline: 1px solid red;
} */


.mainContainer {
  margin-top: 20px;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
}

.justifyCenter {
  justify-content: center;
}

.col-12 {
  width: 100%;
}

.col-md-8 {
  width: 66.67%;
  max-width: 800px;
}

.mb-3 {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .flexRow {
    margin: 0 -15px;
  }

  .col-12,
  .col-md-8 {
    padding: 0 15px;
  }
}